ion-content {
  #mapa {
    width: 100%;
    height: 70%;
    opacity: 0;
    transition: opacity 150ms ease-in;
    
    &.show-map{
      opacity: 1;
    }
  }
}

#header{
 
    text-align: left;
    background: linear-gradient(-90deg,#20478B ,#2487C9);    
    color:white;
    font-size: 12px;

 /* h5{
  height: 100%;    
  background: linear-gradient(#20478c ,#2485c9);
  color:white;
  }*/

}


#confirmar{
  --background: #E5242F;
  width: 100%;
}

#finalizar{
  --background: #AEADB3;
  width: 100%;
}

.detalles{
  font-weight: bold;
}
#botones{
  display: grid;
  width: 100%;
  grid-template-rows:repeat(2,50%) ; 
  justify-content: space-evenly;
  align-content: center;
}
#content{
  display: grid;
  width: 100%;
  font-size: 12px;
  grid-template-columns:repeat(2,50%) ; 
  grid-template-rows:repeat(3,33.33%) ;
  justify-content: space-evenly;
  align-content: center;

}
