ion-content {
    #map {
      width: 100%;
      height: 65%;
      opacity: 0;
      transition: opacity 150ms ease-in;
      display: block;
      &.show-map{
        opacity: 1;
      }
    }
  }
  
  #button {
    height: 10%;
    width: 35%;
    overflow-y: auto;
    display: block;
  }

  ion-toggle {
    --background:#d7d8da;
    --background-checked: #28ba62;
  
    --handle-background: #92949c;
    --handle-background-checked: #d7d8da;
  }

  .accept-button{
    --background: #312a8a;  
    width: 100%; 
    
  }

  .header-card{
    text-align: center;
    
  }

  .toolbar-content{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }