  
<ion-header [translucent]="true">
  <ion-toolbar class="toolbar-bg">
    <div class="toolbar-content">
      <ion-button fill="clear" slot="start">
        <ion-menu-button color= "light" slot="start"></ion-menu-button>
      </ion-button>


      <ion-title class="ion-text-center" text-capitalize>
        Servicio en curso
      </ion-title>
     

      <ion-avatar>
        <img src="assets/icon/avatar.png">
      </ion-avatar>

    </div>
  </ion-toolbar>
</ion-header>

<ion-content >
  <div id="map"></div>

 <!--<div className="collapse navbar-collapse" id="detallesRuta">
   <h5>INFORMACION DEL SERVICIO</h5>
   <button (click)="getTask()">getTask()</button>
  </div>
  <ul>
    <li>Nombre : <input id="name" disabled></li>
    <li>Hora : <input id="hora" disabled></li>
    <li>Precio : <input id="precio" disabled></li>
  </ul>
  <button (click)="updateTask()">Aceptar servicio</button>

  <ion-card id="detallesRuta">
    <ion-card-header >
      <div class="header-card">
      INFORMACIÓN DEL SERVICIO
      </div>
    </ion-card-header >   
    <ion-card-content>
      <div id="body-content">
        <p><strong>Pto. de Partida: </strong>inicio</p>
        <p><strong>Pto. de LLegada: </strong>fin</p>
        <p><strong>Hora: </strong>hora</p>
        <p><strong>Fecha: </strong>fecha</p>
        <p><strong>Valor: </strong>valor</p>
        <p><strong>Metodo de Pago: </strong>metodoPago</p>
        
      </div>
      <ion-button class="btn-no">NO</ion-button>
      <ion-button (click)="updateTask()" class="secondary">SI</ion-button>
      
    </ion-card-content>
  </ion-card>

  <button (click)="getTask()">getTask()</button>-->
</ion-content>

