ion-content {
    #map {
      width: 100%;
      height: 65%;
      opacity: 0;
      transition: opacity 150ms ease-in;
      display: block;
      &.show-map{
        opacity: 1;
      }
    }
  }
  
  #button {
    height: 10%;
    width: 35%;
    overflow-y: auto;
    display: block;
  }

  ion-toggle {
    --background:#d7d8da;
    --background-checked: #28ba62;
  
    --handle-background: #92949c;
    --handle-background-checked: #d7d8da;
  }