.icon{
   // display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}

.boton{
    --background: #e6242f;  
    width: 100%;
    height: 8%;
    bottom: 0;
    position: fixed;
}

.content-input{
    width: 100%;
    position: fixed;
    align-items: center;
    padding-left: 5%;
    padding-right: 5%;
    color:#87868A;   
    --highlight-color-valid: #e6242f;  
}

.content-text{
    justify-items: center;
    text-justify: center;
    color: #e6242f;
    text-decoration: none;  
    padding-left: 5%;
    padding-right: 5%; 
}

.content-items{
    width: 100%;
    position: fixed;
    align-items: center;
    justify-content: center;
    margin-top: 25%; 
       
}

.btn{
    top:0;
    
    position: fixed;
    height: 15px;
    width: 100%;
    color:gray;
    --background: transparent;
}

