.tabs-bg{
    --background:white;
    
    ion-label{
        color:#87868A;
        padding-top: 7px;
        font-size: 1em;
    }
    ion-tab-button:focus{
        background:#e6242f;    
        color:white;
    }

    
   

   
}
