ion-tab-button{
   --background-focused: white;
    --color-selected:white;
  
}

.tabs-bg{    
  ion-tab-button:focus{        
            background:#e6242f;            
            color:white;    
        }
       
   }