<ion-tabs>
  <ion-tab-bar slot="bottom" class="tabs-bg">
    <ion-tab-button tab="message"> 
      <img src="assets/icon/mensajer_inactivos.png">
      <ion-label>Mis mensajes</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="notification">
      <img src="assets/icon/notificaciones_inactivas.png">
      <ion-label>Notificaciones</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="chat">
      <img src="assets/icon/chat_inactivo.png">
      <ion-label>Chat</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>