ion-content {
    #map {
      width: 100%;
      height: 70%;
      opacity: 0;
      transition: opacity 150ms ease-in;
      display: block;
      &.show-map{
        opacity: 1;
      }
    }
  }
  
  #indicators {
    padding: 16px;
    height: 30%;
    width: 100%;
    overflow-y: auto;
    display: block;
  }

  ion-toggle {
    --background:#d7d8da;
    --background-checked: #28ba62;
  
    --handle-background: #92949c;
    --handle-background-checked: #d7d8da;
  }

  .toolbar-content{
    display: flex;
    align-items: center;
    justify-items: center;
  }