.icon{
    display: block;
    margin-left: auto;
    margin-right: auto;

    width: 70%;
}

.boton{
    --background: #e6242f;  
    width: 100%;
    height: 10%;
    bottom: 0;
    position: fixed;
    }

.content-items{
    width: 100%;
    position: fixed;
    
}
.content-link{
    text-align: center;
    color: #e6242f;
    text-decoration: none;    
}

ion-item{
    --ripple-color: #e6242f;
    --highlight-color-valid: #e6242f;
    --highlight-color-invalid: #e6242f;
    --highlight-color-focused: #e6242f;

    --color-hover:#e6242f;
    --color-focused:#e6242f;
    --color-activated:#e6242f;
}