<ion-app>
  <ion-menu side="start" menuId="first" contentId="main">
   
    <ion-content>
      <div class="menu-bg">

      <div class="menu-header-content">  
        <ion-avatar>
          <img src="assets/imgs/user.png">
        </ion-avatar>
        <label>
          <h4>BRENDAN MOORE</h4>
          <p>Editar perfil</p>
        </label>
      </div>
   
      <ion-list lines="none" class="menu-items" color=“transparent”>
        <ion-item color=“transparent” >
          <ion-icon name="person"></ion-icon>Mi perfil
        </ion-item  >
        <ion-item color=“transparent”>
          <ion-icon name="document-text-outline"></ion-icon>Mi historial de servicios
        </ion-item >
        <ion-item color=“transparent” >
          <ion-icon name="newspaper-outline"></ion-icon>Términos y condiciones
        </ion-item>      
        
      </ion-list> 

      <div class="out-content">
        <hr>
      <ion-text color=“transparent” >
        <span class="text"> CERRAR SESIÓN</span>
      </ion-text>
      </div>
    </div>
    
    </ion-content>
  </ion-menu>
  <ion-router-outlet id="main"></ion-router-outlet>
</ion-app>