<!--<ion-header class="header">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>-->

<ion-content >
  
  <ion-img class="icon" src="assets/imgs/LOGO2.png">
  </ion-img>

  
  <form class="content-items" (submit)="send_reset_password()">
    <small class="content-text ion-text-center">Ingresa tu correo electrónico para recuperar tu contraseña</small>

    <ion-item class="content-input">
      <ion-input placeholder="Correo electronico"  type="email" [(ngModel)]="correo_recuperacion" name="correo_recuperacion" required="true">
      </ion-input>
    </ion-item>
     
      <ion-button expand="full" class="boton" type="submit">
        RECUPERAR CONTRASEÑA
      </ion-button>
 

  </form>
  
</ion-content>
