<ion-header id="header-card">
  <ion-title>{{title}}</ion-title>

</ion-header>

<ion-content>
  <div id="body-content">
    <p><strong>Inicio: </strong>{{inicio}}</p>
    <p><strong>Fin: </strong>{{fin}}</p>
    <p><strong>Hora: </strong>{{hora}}</p>
    <p><strong>Método de Pago: </strong>{{metodoPago}}</p>
    <p><strong>Valor: </strong>${{valor}}</p>
  </div>
  <p id="preg">¿Desea aceptar el servicio?</p>
<div id="buttons-content">
  
  <ion-button class="btn-si" (click)="btnSi()">SI</ion-button>
  <ion-button class="btn-no" (click)="btnNo()">NO</ion-button>
</div>

</ion-content>