<ion-header [translucent]="true">
  <ion-toolbar class="toolbar-bg">
    <div class="toolbar-content">
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/historial" text="" icon="close" (click)='closeModal()'>
        </ion-back-button>
      </ion-buttons>
      <ion-title class="ion-text-center" text-capitalize>
        Mi Historial
      </ion-title>
      <ion-avatar>
        <img src="assets/icon/avatar.png">
      </ion-avatar>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <div id="mapHD"></div>
  <ion-row id="header" class="ion-justify-content-evenly ion-align-items-center">
    <ion-col size='8'>
      <h5>
        Detalles del Servicio
      </h5>
    </ion-col>
    <ion-col size = '4'>
      <app-rating rating=4 size="small"></app-rating>
    </ion-col>
  </ion-row>
  <div class="contentD">
    <p><strong>Inicio: </strong>{{inicio}}</p>
    <p><strong>Fin: </strong>{{fin}}</p>
    <p><strong>Fecha: </strong>{{information.fecha}}</p>
    <p><strong>Hora: </strong>{{information.hora}}</p>
    <p><strong>Método de Pago: </strong>{{information.metodoPago}}</p>
    <p><strong>Valor: $</strong>{{information.monto}}</p>
  </div>
</ion-content>