<ion-header [translucent]="true">
  <ion-toolbar class="toolbar-bg">
    <div class="toolbar-content">
      <ion-buttons slot="start" >
        <ion-back-button defaultHref="/historial" text="" icon="close" (click)='closeModal()'>     
        </ion-back-button>
      </ion-buttons>
      <ion-title class="ion-text-center" text-capitalize>
        Mi Historial
      </ion-title>
      <ion-avatar>
        <img src="assets/icon/avatar.png">
      </ion-avatar>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <div id="mapHD"></div>
</ion-content>