<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="mensaje">
      <ion-img src="assets/icon/mensajer_inactivos.png.png"> 
      <ion-label>Mis mensajes</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="notificacion">
      <ion-img src="assets/icon/notificaciones_inactivas.png"> 
      <ion-label>Notificaciones</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="chat">
      <ion-img src="assets/icon/chat_inactivo.png"> 
      <ion-label>Chat</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>

 
