
<ion-content [fullscreen]="true">
  <div class="avatar-background">   
    <ion-avatar class="avatar-content">  
    <img src="assets/imgs/user.png"> 
    </ion-avatar>  
  </div>


  <div class="buttons-content">
    <div>
      <ion-button>
        <ion-icon name="person"></ion-icon>
      </ion-button>
    </div>

    <div>
      <ion-button routerLink="/map">
        <ion-icon name="car"></ion-icon>
      </ion-button>
    </div>
    
    <div>
      <ion-button>
        <ion-icon name="build"></ion-icon>
      </ion-button>
    </div>
    
    <div >
      <ion-button (click)="on_logout()">
        <ion-icon name="exit-outline"></ion-icon>
      </ion-button>
    </div>
  </div>  
  
<ion-item class="notification-content">
    <ion-text> Notificaciones</ion-text>
    <ion-icon name="notifications-outline" slot="start"></ion-icon>
  </ion-item>



</ion-content>