.icon{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}

.boton{
    --background: #e6242f;  
    width: 100%;
    height: 8%;
    bottom: 0;
    display: block;
    position: absolute;
}

.content-items{
    width: 100%;
    position: fixed;
    align-items: center;
    justify-content: center;
    margin-top: 25%; 
    ion-item{
        --highlight-color-valid: #e6242f; 
       
    }     
    
}

.content-link{
    text-align: center;
    color: #e6242f;
    text-decoration: none;    
}

